<div class="container">
  <div
    (dragover)="highlight()"
    (dragleave)="unhighlight()"
    [classList]="
      isHighlighted
        ? 'isHighlighted formbold-file-input'
        : 'formbold-file-input'
    "
  >
    <input
      type="file"
      name="file"
      id="file"
      accept="image/*"
      (change)="readFile($event)"
    />
    <label
      for="file"
      (drop)="readFile($event)"
      [class.wrong-format]="wrongFormat"
    >
      @if (isHighlighted) {
      <div>
        <span class="formbold-drop-file"> عکس را اینجا رها کنید </span>
      </div>
      } @else {
      <div>
        <span class="formbold-drop-file"> عکس را اینجا رها کنید </span>
        <span class="formbold-or"> یا </span>
        <span class="formbold-browse"> فایل را انتخاب کنید </span>
      </div>
      }
    </label>
  </div>

  <div class="divider"></div>

  <div class="double-input">
    <mat-form-field appearance="fill">
      <mat-label>عنوان</mat-label>
      <input
        matInput
        [(ngModel)]="title"
        (ngModelChange)="titleChange($event)"
      />
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>لینک</mat-label>
      <input matInput [(ngModel)]="slug" />
    </mat-form-field>
  </div>

  @if (show) {
  <editor
    apiKey="yjcaoq9hsst3klf39jp2da6lj47f25of83co4snoyixvmywr"
    [init]="init"
    [initialValue]="initialValue"
  >
  </editor>
  }

  <div class="divider"></div>

  <div class="buttons">
    <button type="submit" mat-flat-button>ثبت</button>
  </div>
</div>
