:host {
  .store {
    width: 100%;

    .store-container {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      .product-card {
        width: 100%;
        border-radius: 0.75rem;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--card-border-color);

        .product-image {
          width: 100%;
          border-start-start-radius: inherit;
          border-start-end-radius: inherit;
        }

        .product-detail {
          padding: 0.75rem;
          text-align: center;
          display: grid;
          gap: 1rem;

          .product-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          .product-footer {
            display: flex;
            gap: 0.75rem;
            font-size: 0.75rem;
            color: var(--secondary-text-color);

            .product-footer-component {
              display: flex;
              gap: 0.25rem;
              justify-content: center;
              align-items: center;

              .text {
                height: 1rem;
              }

              .material-symbols-rounded {
                font-size: 1rem;
              }
            }
          }
        }
      }
    }

    .paginator {
      padding-top: 1.5rem;
    }
  }
}
