:host {
  width: 100%;

  .card {
    border-radius: 1.5rem;
    background: var(--card-background);
    padding: 2rem;
    box-shadow: var(--small-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .title {
      text-align: center;

      h3 {
        display: inline;
        border-bottom: 1px solid;
        padding: 0 0.5rem;
      }
    }

    .comment-form {
      width: 100%;

      .comment-input {
        width: inherit;
      }
    }

    .comments {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .comment {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          background: var(--comment-section-lines);
          width: 1px;
          height: 100%;
          right: 1.25rem;
        }

        .header {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          img {
            width: 2.5rem;
            height: 2.5rem;
            z-index: 1;
          }
          .date {
            font-size: 0.75rem;
            color: var(--secondary-text-color);
          }
        }

        .body {
          padding-inline-start: 3rem;

          .footer {
            display: flex;
            align-items: center;
            gap: 1rem;
            padding-block-start: 0.5rem;

            .show-reply-button {
              display: flex;
            }
          }
        }
      }

      .divider {
        height: 1px;
        width: 100%;
        background-color: var(--comment-section-lines);
      }
    }
  }
}
