<div class="container">
  @if(products.length>0){
  <table class="table">
    <tr>
      <th>ID</th>
      <th>عنوان</th>
      <th>ویرایش</th>
      <th>حذف</th>
    </tr>
    @for (product of products; track product.id) {
    <tr>
      <td>{{ product.id }}</td>
      <td>
        <a routerLink="/store/{{ product.url }}">
          <h4>{{ product.title }}</h4>
        </a>
      </td>
      <td>
        <button matTooltip="ویرایش محصول">
          <span class="material-symbols-rounded edit-button"> edit </span>
        </button>
      </td>
      <td>
        <button matTooltip="حذف محصول">
          <span class="material-symbols-rounded delete-button"> delete </span>
        </button>
      </td>
    </tr>
    }
  </table>
  }@else {
  <p>محصولی یافت نشد.</p>
  }
  <div>
    <a routerLink="add-product" mat-flat-button>محصول جدید</a>
  </div>
</div>
