:host {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    max-width: 77.5rem;

    .card {
      border-radius: 1.5rem;
      background: var(--card-background);
      padding: 2rem;
      box-shadow: var(--small-shadow);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;

      .about {
        display: flex;
        gap: 2rem;

        .about-image {
          border-radius: 1rem;
          height: 20rem;
        }

        .about-text {
          display: flex;
          gap: 1rem;
          justify-content: center;
          flex-direction: column;

          .about-title {
            font-size: 2.5rem;
            font-weight: bold;
          }

          .about-description {
            font-size: 1.5rem;
            font-weight: normal;
          }
        }
      }

      .works {
        width: 100%;

        .works-title-container {
          text-align: center;

          .works-title {
            border-bottom: 1px solid var(--mat-app-text-color);
            padding-inline: 0.5rem;
            display: inline-flex;
            align-items: center;
            color: var(--mat-app-text-color);
            font-size: 1.15rem;
            font-weight: bold;
            padding-bottom: 0.1rem;
          }
        }
        .works-container {
          display: flex;
          justify-content: space-around;

          .work-card {
            padding-top: 1.5rem;
            max-width: 5rem;
            position: relative;
            min-width: 17.5rem;
            border-radius: 0.5rem;

            .work-image {
              width: 100%;
              border-radius: inherit;
              filter: brightness(0.3);
            }

            .work-title {
              position: absolute;
              font-weight: bold;
              top: 2.5rem;
              width: 100%;
              text-align: center;
            }

            .work-tags {
              width: 100%;
              bottom: 1rem;
              position: absolute;
              right: 1rem;
            }
          }
        }
      }
    }
  }
}
