.about {
  display: flex;
  gap: 2rem;

  .about-image {
    border-radius: 1rem;
    height: 20rem;
  }

  .about-text {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-direction: column;

    .about-title {
      font-size: 2rem;
      font-weight: bold;
    }

    .about-description {
      font-size: 1.25rem;
      font-weight: normal;
    }
  }
}
