<mat-sidenav-container class="container" autosize>
  <mat-sidenav #drawer mode="side" position="end" opened class="sideNav">
    <header class="header">
      <div class="top-header">
        <img src="{{ logoUrl }}" alt="" class="logo" />
        <div class="titles">
          <span class="name">{{ titleName }}</span>
          <span class="description">{{ titleDesc }}</span>
        </div>
      </div>
      <nav class="navigation">
        @for (item of menu; track $index) {
        <a
          mat-button
          class="link"
          routerLink="{{ item.url }}"
          routerLinkActive="active"
        >
          <div class="linkText">
            <span class="material-symbols-rounded icon">
              {{ item.icon }}
            </span>
            <span>{{ item.name }}</span>
          </div>
        </a>
        }
      </nav>
    </header>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="main">
      <div class="mainTop">
        <h1 class="title">{{ pageTitle }}</h1>
        <div class="toolbar">
          <button
            type="button"
            class="toolbarButton"
            (click)="toggleTheme()"
            matTooltip="تغییر تم سایت"
          >
            <span class="material-symbols-rounded">{{ themeIcon }}</span>
          </button>
          <button
            type="button"
            (click)="drawer.toggle()"
            class="toolbarButton"
            matTooltip="باز/بستن منو"
          >
            <span class="material-symbols-rounded">menu</span>
          </button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="outlet-content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
