@use "@angular/material" as mat;
@use "./theme.scss" as theme;

@include mat.core();

:root {
  @include mat.all-component-themes(theme.$dark-theme);

  body[data-theme="light"] {
    @include mat.all-component-colors(theme.$light-theme);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
