@use "@angular/material" as mat;
@use "./theme.scss" as theme;

@include mat.core();

:root {
  @include mat.all-component-themes(theme.$dark-theme);

  --mat-sidenav-content-background-color: #1f1f23;
  --mat-sidenav-container-background-color: #292a2d;

  --card-background: #303034;
  --card-image-bg: #000;
  --card-border-color: #46464a;

  --small-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.07),
    0 10px 20px -2px rgba(0, 0, 0, 0.04);
  --secondary-text-color: #c7c6ca;
  --danger-color: #ff5449;
  --border-second-bg: #3b3b3f;

  body[data-theme="light"] {
    @include mat.all-component-colors(theme.$light-theme);

    --mat-app-text-color: #2e3038;
    --mat-sidenav-content-text-color: #3a3b43;
    --mat-sidenav-content-background-color: #efedf1;
    --mat-sidenav-container-background-color: #f2f0f4;

    --card-background: #f2f0f4;
    --card-image-bg: #fff;
    --card-border-color: #acaaaf;

    --secondary-text-color: #51525b;
    --danger-color: #de3730;
    --border-second-bg: #e4e2e6;
  }
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff/IRANSansX-Bold.woff") format("woff"),
    url("fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff/IRANSansX-Regular.woff") format("woff"),
    url("fonts/woff2/IRANSansX-Regular.woff2") format("woff2");
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  font-family: IRANSansX, Roboto, "Helvetica Neue", sans-serif;
  direction: rtl;
  margin: 0;
  * {
    margin: 0;
  }
  a {
    text-decoration: none;
    color: var(--mat-app-text-color);
  }
  button {
    padding: 0;
    border: none;
    background: none;
    color: var(--mat-app-text-color);
    cursor: pointer;
  }
}

.mat-mdc-button,
.mat-mdc-outlined-button,
.mat-mdc-unelevated-button {
  font-family: inherit !important;
}

.mat-mdc-tooltip {
  direction: rtl;
}

.mdc-text-field {
  padding: 0 16px !important;
  font-family: IRANSansX !important;

  .mdc-floating-label {
    font-family: IRANSansX !important;
  }
}

.mat-mdc-paginator {
  background-color: inherit !important;
  direction: ltr;
}

.mat-mdc-paginator,
.mat-tooltip {
  font-family: IRANSansX !important;
}

.mat-mdc-paginator-container {
  justify-content: center !important;
}

.mat-mdc-menu-panel {
  min-width: 15rem !important;
  max-width: 30rem !important;
  background-color: var(--card-background) !important;

  .mat-mdc-menu-content {
    font-family: IRANSansX !important;
    padding: 0;
    direction: rtl;
    max-height: 50vh;
  }
}

.mat-badge-medium .mat-badge-content {
  width: unset !important;
}

.notification-class-danger {
  background-color: var(--danger-color);
  border-radius: 0.25rem;
}

.notification-class-success {
  background-color: #388e3c;
  border-radius: 0.25rem;
}

.mat-mdc-snack-bar-container .mdc-snackbar__label {
  font-family: IRANSansX !important;
  direction: rtl;
}

.info-notification {
  background-color: var(--mdc-snackbar-container-color);
  border-radius: 0.25rem;
}

.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: inherit !important;
}
