@use "@angular/material" as mat;
@use "./theme.scss" as theme;

@include mat.core();

:root {
  @include mat.all-component-themes(theme.$dark-theme);

  body[data-theme="light"] {
    @include mat.all-component-colors(theme.$light-theme);
  }
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: bold;
  src: url("fonts/woff/IRANSansX-Bold.woff") format("woff"),
    url("fonts/woff2/IRANSansX-Bold.woff2") format("woff2");
}

@font-face {
  font-family: IRANSansX;
  font-style: normal;
  font-weight: normal;
  src: url("fonts/woff/IRANSansX-Regular.woff") format("woff"),
    url("fonts/woff2/IRANSansX-Regular.woff2") format("woff2");
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  font-family: IRANSansX, Roboto, "Helvetica Neue", sans-serif;
  direction: rtl;
  margin: 0;
  * {
    margin: 0;
  }
  a {
    text-decoration: none;
  }
}
