.container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;

  .divider {
    border-top: 1px dashed var(--secondary-text-color);
  }

  form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
  }

  .title {
    text-align: center;
    padding-bottom: 1rem;

    h3 {
      display: inline;
      border-bottom: 1px solid;
      padding: 0.1rem 0.75rem;
    }
  }
}
