<div class="posts">
  <div class="posts-container">
    @for (post of posts; track $index) {
    <div class="post-card">
      <img src="{{ post.image }}" alt="" class="post-image" />
      <div class="post-detail">
        <h4
          class="post-title"
          matTooltip="{{ post.title }}"
          matTooltipPosition="above"
        >
          {{ post.title }}
        </h4>
        <a routerLink="/posts/{{ post.url }}" mat-flat-button>نمایش مطلب</a>
        <div class="post-footer">
          <span class="post-footer-component">
            <span class="material-symbols-rounded"> calendar_today </span>
            <span class="text">{{ post.date }}</span>
          </span>
          <span class="post-footer-component">
            <span class="material-symbols-rounded"> forum </span>
            <span class="text">{{ post.commentCount }}</span>
          </span>
        </div>
      </div>
    </div>
    }
  </div>
  <app-paginator class="paginator"></app-paginator>
</div>
